<picker-modal (onOverlayClick)="cancelDatePicker()">
    <div class="picker-wrap">
        <div class="picker-box">
            <div class="picker-header">
                <div class="picker-header-nav" (click)="prevMonth()">
                    <span class="nav-prev"></span>
                </div>
                <div class="picker-header-content">
                    <div class="content">
                        <span class="month">{{calendarDate | moment: "MMMM"}}</span>
                        <span class="year">{{calendarDate | moment: "YYYY"}}</span>
                    </div>
                </div>
                <div class="picker-header-nav" (click)="nextMonth()">
                    <span class="nav-next"></span>
                </div>
            </div>
            <div class="picker-calendar">
                <div class="picker-calendar-row">
                    <span class="picker-weekday" *ngFor="let day of dayNames">{{ day }}</span>
                </div>
                <div class="picker-calendar-row">
                <span class="picker-day"
                      (click)="selectDay(day)"
                      [ngClass] = "{
                       'out-focus': day.month() != calendarDate.month(),
                       'today': day.isSame(today),
                       'selected': day.isSame(selectedDate)
                      }"
                      *ngFor="let day of calendarDays">
                    {{ day | moment: 'D'}}
                </span>
                </div>
            </div>
        </div>
    </div>
</picker-modal>
